# Port - REQUIRED
PORT=8000

# Admin key to set services via POST API. Endpoint disabled if omitted
SETUP_KEY=super-secret-key

# Logging level, defaults to INFO if omitted
LOGGING_LEVEL=INFO

# Parent folder for sqlite and related files. Optional, defaults to ./
# OBSERVER_DATA_DIR=