[Unit]
Description=Job Observer Scheduler
After=network.target

[Service]
User=jobobserver
Group=jobobserver
WorkingDirectory=/opt/job-observer

EnvironmentFile=/opt/job-observer/config/settings.env

ExecStart=/opt/observer/venv/bin/python -m scheduler.scheduler

Restart=always
RestartSec=3
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target